.titulo{
    text-decoration: none;
    font-family: Catamaran;
    font-weight: 500;
    font-size: xx-large;
    color: #62079F;
    display: flex;
    padding: 40px 40px;
    letter-spacing: 2px ;
    text-decoration: overline;
    text-shadow: 0 0 20px   #c653e994;
    text-transform: uppercase;
}