.footer{
    width: 100%;
    background-color: #62079F;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    margin-top: auto;
    
}

/*Links a otras paginas dentro de la web*/
.btnsFooter{
    font-family: Catamaran;
    font-size:medium;
    color: #000000;
    text-decoration: none;
    text-align: left;
    font-weight:500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btnsFooter:hover{
    text-shadow: 0 0 20px #F6F5E4;
}

.copyContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logoRatexF{
    width: 80px;
  
    
}

.copy{
    font-family: Catamaran;
    
}

/*Whatsapp y mail li*/
.logosContacto{
    display: flex;
    height: 30px;
    
}

/*Para las imagenes de WPP y Mail*/
.logoFooter{
    width: 25px;
    transition: 0.5s;
    
}

.logoFooter:hover{
    filter: drop-shadow(0  0  12px #F6F5E4);
    

}