*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navLateralContainer{
    display: flex;
}


.hijos{
    width: 100%;
    padding: 20px;   
}

.sidebar{
    background-color: #62079F;
    transition: all 0.2s;

}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: center;
}

.bars{
    font-size: 30px;
    color: white;
}
.link{
    display: flex;
    color: white;
    padding: 5px 15px;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}
.link:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}
.active{
    background-color: #1f1d1d94;
    color: black;
}

.icon, .link_text{
    font-size: 25px;
}