.logoRatex{
    width: 100px;
    transition: 0.5s;
    
}

.logoRatex:hover{
    filter: drop-shadow(0  0  12px #F6F5E4);
}

.navContainer{
    width: 100%;
    height: 100px;
    background-color: #62079F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
}

.logoContainer{
    width: 10%;

}

.logoLink { 
    height: 12vh;
}
.btnsContainer{

}

.btnsLista{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.btnsLista li{
    margin-left: 18px;
}

.btnsItems {
    font-family: Catamaran;
    font-weight: 600;
}


#avatar{
    transition: 0.5s;
}

#avatar:hover{
    filter: drop-shadow(0  0  10px #F6F5E4);
}
