.ratex-privacy-policy {
    font-family: Inder;
    width: 100%;
    padding: 20px;
    margin: 0;
    text-align: start;
    color: #F6F5E4;
    border-left: 4px solid #F6F5E4;
    border-radius:  35px 0  0 35px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;

  }
  
  .ratex-privacy-policy h1 {
    font-size: 24px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: Catamaran;
    margin-left: 28%;
    text-decoration:overline;
    text-transform: uppercase;
    color: #62079F;
    text-shadow: 0 0 20px   #c653e994;
    letter-spacing: 3px;
  }

  .ratex-privacy-policy h2{
    text-decoration: underline;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #62079F;
    text-shadow: 0 0 20px   #c653e994;
    letter-spacing: 3px;
  }
  
  .ratex-privacy-policy p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .ratex-privacy-policy ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 20px;
  }
  
  .ratex-privacy-policy li {
    margin-bottom: 5px;
  }

  .ratex-privacy-policy ul, li, p{
    padding-left: 25px;
  }