.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #1F1D1D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-nav{
  background-color: #62079F;
  width: auto;
  height: 100px;
}

